* {
    scrollbar-color: rebeccapurple blueviolet;
}

body {
    background-color: rgb(44, 111, 155);
}

ul{
    padding-top: 0;
}

pre {
    background-color: blueviolet;
    border-radius: 10px;
    border-style: solid;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow-x: auto
}
hr {
    border: 0;
    height: 2px;
    background-color: black;
}


.codeHeader {
    padding-bottom: 0px;
}

.container {
    text-align: center;
    align-content: center;
    padding: 0px;
}

button {
    vertical-align: middle;
    padding: 10px 20px;
    background-color: blueviolet;
}
